<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= pageTitle %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Michroma&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <body id="<%= pageID %>">

      <div class=navbar>
        <nav class="navbar fixed-top navbar-light">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/feedback">Feedback</a>
          <a class="navbar-brand" href="/chat">Chat</a>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Albums
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/albums/30_Seconds_To_Mars">30 Seconds to Mars</a>
              <a class="dropdown-item" href="/albums/A_Beautiful_Lie">A Beautiful Lie</a>
              <a class="dropdown-item" href="/albums/This_Is_War">This Is War</a>
              <a class="dropdown-item" href="/albums/Love_Lust_Faith_and_Dreams">Love, Lust, Faith and Dreams</a>
              <a class="dropdown-item" href="/albums/America">America</a>
    
            </div>
          </div>
        </div>
    
        </nav>
    <!-- <div class="parallax" id="formBG"> -->
    <div class="feedbackZone row">
      <div class="col-sm-4">
        <h1 class="feedback-form-title">Send us feedback</h1>
        <form class="feedback-form">
          <div class="form-group">
            <label for="feedback-form-name">Name</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-name"
              placeholder="Enter your name"
            />
          </div>

          <div class="form-group">
            <label for="feedback-form-title">Title</label>
            <input
              type="text"
              class="form-control"
              id="feedback-form-title"
              placeholder="Title of your feedback"
            />
          </div>

          <div class="form-group">
            <label for="feedback-form-message">Message</label>
            <textarea
              type="text"
              placeholder="Enter your message, then hit the submit"
              class="form-control"
              id="feedback-form-message"
              rows="6"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-default pull-right">
            Submit
          </button>
        </form>
      </div>
      <!-- primary -->
      <aside class="feedbackZone col-sm-8">
        <div class="maincontent feedback">
          <h2 class="article-title">Recent Feedback</h2>
          <div class="feedback-messages" id="#feedback-messages"></div>
        </div>
      </aside>
      <!-- secondary -->
    </div>
    <!-- </div> -->
    <!-- container -->
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <% if(pageID == 'feedback') { %>
      <script src="/js/feedback.js"></script>
    <% } %>
    <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/chat.js"></script>
<script src="/reload/reload.js"></script> -->
  </body>
</html>
