.albumBackground {
  background-color: black;
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}

.albumLeft {
  padding-left: 30px;
  background-color: red;
  border-right: black 4px solid;
}

.albumRight {
  padding-top: 20px;
  /* background-color: silver; */
}

.feedbackZone {
  padding-top: 60px;
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
}

.navbar {
  background-image: url("/images/30STMHeader.jpg");
}

/* #formBG {
  background-image: url("/images/30STMFormsBG.jpg");
} */

.albumstats {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 5vw;
}

.h4 {
  background-color: black;
  color: antiquewhite;
  padding: 5px;
  text-align: center;
  display: inline;
  vertical-align: middle;
}

/* .navbar {
  background: transparent;
} */

.parallax {
  /* The image used */
  background-image: url("/images/30STMInConcert.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax30STM {
  /* The image used */
  background-image: url("/images/30STMBG1.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxABL {
  /* The image used */
  background-image: url("/images/30STMBG2.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxTIW {
  /* The image used */
  background-image: url("/images/30STMBG5.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxLFFD {
  /* The image used */
  background-image: url("/images/30STMBG4.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxAMERICA {
  /* The image used */
  background-image: url("/images/30STMBG3.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
